body {
    padding-bottom: 200px;
    background-color: antiquewhite;
}

/* ページの見出し */
h1 {
    text-align: center;
    font-size: 24px;
}

/* クイズの設問全体 */
div.quiz {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 10px 60px 30px 60px;
    border-radius: 20px;
}

img.question {
    max-width: 300px;
    max-height: 300px;
}

/* 第◯問(中見出し) */
h2 {
    font-size: 20px;
}

/* 選択肢を囲うエリア */
.choices {
    margin-bottom: 20px;
}

/* 各選択肢の右余白 */
label {
    margin-right: 4px;
}

/* 回答するボタンを囲うエリア */
.button-area {
    text-align: center;
}

/* 回答するボタン */
.answer-button {
    background-color: #299fd0;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 4px 20px;
    font-size: 18px;
}

/* 正解 */
div.correct {
    display: none;
    margin-top: 30px;
    border: 2px solid #ff0000;
    padding: 10px;
    color: orange;
}

/* 不正解 */
div.miss {
    display: none;
    margin-top: 30px;
    border: 2px solid #000000;
    padding: 10px;
}
